* {
  box-sizing: border-box;
}
body {
  background-color: #eff1f5 !important;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
