.todoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  box-shadow: 8px 9px 17px -10px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  width: 700px;

  @media (max-width: 768px) {
    width: 400px;
  }
  @media (max-width: 425px) {
    width: 300px;
  }
}
.todoCompleted {
  text-decoration: line-through;
  opacity: 0.6;
}
.todoContentWrapper {
  display: flex;
  align-items: center;
  width: calc(100% - 70px);
}
.textWrapper {
  margin: 0 15px;
  width: 100%;
  input {
    margin-bottom: 10px;
  }
}
.title {
  line-height: 15px;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 600;
}
.text {
  word-wrap: break-word;
  width: calc(100% - 56px);
}
.buttons {
  width: 70px;
}
.btn {
  padding: 0;
  border: none;
  background-color: transparent;
}
.saveBtn,
.editBtn {
  margin-right: 10px;
}
